*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    text-transform: capitalize;
}

html{
    font-size: 62.5%;
}

body{
    font-size: 1.6rem;
    font-weight: 800;
    font-family:"Monorope", sans-serif;
}

.main{
    height: 100vh;
    width: 100%;
    background-color: hsl(217,19%,38%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.advice{
    max-width: 55rem;
    width: 90%;
    background-color: hsl(217, 19%, 24%);
    padding: 3rem;
    border-radius: 2rem;
    text-align: center;
    position: relative;
}

.advice-title{
    font-size: 1.6rem;
    color: hsl(150, 100%, 66%);
    margin-bottom: 2rem;
    letter-spacing: 0.2rem;
}

.advice-text{
    font-size: 2.2rem;
    color: hsl(193, 38%, 86%);
    margin-bottom: 2rem;
}

.advice-line img{
    width: 100%;
    margin-bottom: 2rem;
}

.advice-btn{
    position: absolute;
    bottom: -2rem;
    left: 50%;
    transform: translateX(-50%);
    height: 4rem;
    width: 4rem;
    background-color: hsl(150, 100%, 66%);
    transition: all .3s;
    border-radius: 100%;
    cursor: pointer;
}

.advice-btn:hover{
    box-shadow: rgba(82, 255, 169, 0.466) 0px 8px 24px,
    rgba(82, 255, 169, 0.411) 0px 16px 56px,
    rgba(82, 255, 169, 0.479) 0px 24px 80px;
}

.advice-btn img{
    height: 100%;
    width: 100%;
    transform: scale(0.5);
}